<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=xcx.ningboxhw.com,1433;Initial Catalog=nbxhw;Persist Security Info=True;User ID=sa;Password=hysys" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="52428800" />
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
        <!--50MB-->
      </requestFiltering>
    </security>
  </system.webServer>

  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <!--log4net配置文件路径-->
      <add key="log4net.Config" value="log4net.config"/>
      <add key="log4net.Config.Watch" value="True"/>
      <!--
      <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
      </system.webServer> -->
    </appSettings>
  </location>
</configuration>
