table {
    border: solid 1px;
    border-color: gray;
    
}

td {
    border: solid 1px;
    border-color: lightgray;
    padding-left: 5px;
}

tr {
    height: 40px;
}

.imagerow {
    height:250px;
    width: 50%;
}

.statusDiv {
    width: 60px;
    height: 60px;
}

.statusImage {
    margin-top:5px;
    margin-left: 15px;
    width: 30px;
}

.arrowImage {
    margin-bottom: 20px;
    width: 20px;
}


.statusText{
    margin-top: 2px;
    text-align: center;
    font-size: 10px;
}

.progressTable {
    border: none;
}

.progressTable td {
    border: none;
}



#printDiv {
    color: black;
}

#printDiv .printOrderName {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

#printDiv table tr {
    height: 70px;
}

#printDiv .addressLine {
    height: 140px;
}

.hidden-div {
    display: none;
}

.size-print {
    font-size: 20px;
    font-weight: bold;
}